# Ignore node_modules for both client and server
src/node_modules/
server/node_modules/
node_modules/

**/npm-debug.log
**/yarn-error.log

# Ignore environment files
**/.env
**/.env.local
**/.env.*.local

# Ignore build outputs and temporary files
/src/.next
/src/out
/src/.cache
/src/dist

# Ignore editor and system-specific files
*.vscode
*.idea
*.DS_Store
